<div>


    <div  [ngClass]="service.despliegue ?'dashed':'dash'">

        <div class="title d-flex ">
            <img src="/assets/sygnet.0cffb16292ca0d8f1d89bb05c11a4408.svg"  > 
            <button [ngClass]="{'arrow':!service.despliegue,'arrowb':service.despliegue}"
             (click)="desplegar()" class="fa-xl mx-5"><i class="fa-solid arrow fa-arrow-right" [ngClass]="{'fa-arrow-right':!service.despliegue,'fa-arrow-left':service.despliegue}"></i></button>
        </div>


        <ul>
            <li class="list" 
                 [routerLink]="['/create']" routerLinkActive="active"
            ><i class="fa-solid fa-plus pe-4" ></i><span *ngIf="service.despliegue">Create new</span>
   
        </li>
            <li class="list" 
                 [routerLink]="['/notes']" routerLinkActive="active"
            ><i class="fa-sharp fa-solid fa-bars pe-4"></i><span *ngIf="service.despliegue">Notes</span>
            <div class="iconos">
                <span class=" notifications">{{service.notes.length}}</span>
               <!--<span class="hiddenTitle">Notes</span>--> 
            </div>
        </li>
            <li class="list" 
            [routerLink]="['/trash']" routerLinkActive="active"
            ><i class="fa-regular fa-trash-can pe-4"></i><span *ngIf="service.despliegue">Trash</span>
            <div class="iconos">
                <span class=" notifications">{{service.trash.length}}</span>
               <!--<span class="hiddenTitle">Notes</span>--> 
            </div>
        </li>
            <li class="list" 
            [routerLink]="['/favourite']" routerLinkActive="active"
            ><i class="fa-regular fa-heart pe-4"></i><span *ngIf="service.despliegue">Favourite</span>
            <div class="iconos">
                <span class=" notifications">{{service.favourites.length}}</span>
               <!--<span class="hiddenTitle">Notes</span>--> 
            </div>
        </li>
            <li class="list" *ngIf="!service.logged"
            [routerLink]="['/login']" routerLinkActive="active"
            > <i class="fa-solid fa-user-group pe-4"></i><span *ngIf="service.despliegue">Login</span>
            <div class="iconos">
                <span class=" notifications">Login!</span>
               <!--<span class="hiddenTitle">Notes</span>--> 
            </div>
        </li>   
            <li class="list" *ngIf="service.logged"
            [routerLink]="['/account']" routerLinkActive="active"
            > <i class="fa-solid fa-user pe-4"></i><span *ngIf="service.despliegue">Account</span></li>
           
            <li class="list" *ngIf="service.logged"
                (click)="logOut()"      routerLinkActive="active"
            > <i class="fa-solid fa-right-from-bracket pe-4"></i><span *ngIf="service.despliegue">Log out</span></li>
        </ul>

     
        

    
    </div>




       
    

</div>